/* 
* <576:     xs
* 576-768:  sm
* 768-992:  md
* 992-1200: lg
* 1200 -1400: xl
* >= 1400:  xxl
*/

@media (max-width: 575px) {
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
}

@media (max-width: 991px) {
    .hpv-infection-paths {
      padding: 6rem 0;
    }
  
    .hpv-infection-paths__wrapper {
      display: flex;
      flex-direction: column;
    }
  
    .hpv-infection-paths__title {
      display: flex;
      position: unset;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  
    .hpv-infection-paths__mina {
      margin-top: 6%;
    }
  
    .hpv-infection-paths__circles {
      top: 2%;
      left: -10%;
    }
    .hpv-infection-paths__content-box {
      gap: 0.5rem;
    }
  
    aside {
      display: none;
    }
  }
  
  @media (max-width: 575px) {
    .hpv-infection-paths__mina {
      width: 25rem;
    }
  
    .hpv-infection-paths__circles {
      left: 0rem;
      top: 2.5rem;
      width: 32rem;
    }
  
    .hpv-infection-paths__title {
      font-size: 0.79185520362rem;
    }
  
    .content-box__description {
      font-size: 0.90497737556rem;
    }
  
    .hpv-infection-paths__contents .content-box__images {
      padding: 1.5rem;
      width: 9rem;
    }
    
    .hpv-infection-paths__contents .content-box__circle {
      width: 8rem;
      height: 8rem;
    }
  
    .hpv-infection-paths__contents .content-box__images {
      padding: 1.5rem;
      width: 7rem;
    }
    .hpv-infection-paths__contents .content-box__circle {
      width: 6rem;
      height: 6rem;
    }
  
    .content-box__circle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 20%;
      border-radius: 16px;
      height: 6em;
      width: 20rem;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.31) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  
    .hpv-infection-paths__content-box::after {
      height: 0;
    }
  
    .hpv-infection-paths__content-box:nth-child(1) {
      top: 4rem;
      left: 18rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(2) {
      top: 11rem;
      left: 22rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(3) {
      top: 20rem;
      left: 22rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(4) {
      top: 27rem;
      left: 19rem;
    }
  }
  
  @media (max-width: 374px) {
    .hpv-infection-paths__mina {
      width: 20rem;
    }
    .hpv-infection-paths__circles {
      width: 25rem;
    }
  
    .content-box__description {
      font-size: 0.79185520362rem;
    }
  
    .hpv-infection-paths__contents .content-box__images {
      padding: 1.5rem;
      width: 6rem;
    }
  
    .hpv-infection-paths__contents .content-box__circle {
      width: 5rem;
      height: 5rem;
    }
  
    .content-box__circle::before {
      height: 5rem;
    }
    .hpv-infection-paths__content-box:nth-child(1) {
      top: 2rem;
      left: 15rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(2) {
      top: 8rem;
      left: 17rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(3) {
      top: 16rem;
      left: 17rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(4) {
      top: 22rem;
      left: 15rem;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .hpv-infection-paths__title {
      font-size: 1.13122171946rem;
    }
  
    .hpv-infection-paths__mina {
      width: 50rem;
    }
  
    .content-box__circle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 10%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.31) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  
    .hpv-infection-paths__circles {
      left: 0;
      top: 5rem;
      width: 65rem;
    }
  
    .hpv-infection-paths__contents .content-box__images {
      padding: 1.5rem;
      width: 11rem;
    }
    .hpv-infection-paths__contents .content-box__circle {
      width: 10rem;
      height: 10rem;
    }
  
    .hpv-infection-paths__content-box {
      gap: 1rem;
      width: 100%;
    }
  
    .content-box__description {
      font-size: 1.69683257919rem;
    }
  
    .hpv-infection-paths__content-box::after {
      left: 5%;
      top: 0;
      height: 100%;
    }
  
    .hpv-infection-paths__content-box:nth-child(1) {
      top: 9rem;
      left: 37rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(2) {
      top: 23rem;
      left: 46rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(3) {
      top: 39rem;
      left: 47rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(4) {
      top: 53rem;
      left: 40rem;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 991px) {
    .hpv-infection-paths__content-box {
      gap: 4rem;
      width: 100%;
    }
  
    .hpv-infection-paths__mina {
      width: 60rem;
    }
  
    .hpv-infection-paths__circles {
      width: 85rem;
      left: -6%;
    }
  
    .hpv-infection-paths__contents .content-box__images {
      width: 9rem;
    }
    .hpv-infection-paths__contents .content-box__circle {
      width: 12rem;
      height: 12rem;
    }
  
    .hpv-infection-paths__content-box::after {
      left: 2rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(1) {
      top: 10rem;
      left: 44rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(2) {
      top: 30rem;
      left: 51rem;
    }
    .hpv-infection-paths__content-box:nth-child(3) {
      top: 50rem;
      left: 52rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(4) {
      top: 68rem;
      left: 48rem;
    }
  
    .content-box__description {
      font-size: 1.80995475113rem;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1599px) {
    .hpv-infection-paths__title {
      font-size: 1.34854771784rem;
    }
  
    .hpv-infection-paths__circles {
      width: 95%;
    }
  
    .content-box__description {
      font-size: 1.24481327801rem;
    }
  
    .hpv-infection-paths__contents .content-box__circle {
      width: 12rem;
      height: 12rem;
    }
  
    .hpv-infection-paths__content-box::after {
      left: 5rem;
      top: -10%;
      height: 120%;
    }
  
    .hpv-infection-paths__content-box:nth-child(1) {
      top: 10%;
      left: 50%;
    }
  
    .hpv-infection-paths__content-box:nth-child(2) {
      top: 35%;
      left: 62%;
    }
  
    .hpv-infection-paths__content-box:nth-child(3) {
      top: 64%;
      left: 63%;
    }
  
    .hpv-infection-paths__content-box:nth-child(4) {
      top: 90%;
      left: 59%;
    }
  }
  
  @media only screen and (min-width: 1100px) and (max-width: 1199px) {
    .hpv-infection-paths__title {
      font-size: 0.82987551867rem;
    }
  
    .hpv-infection-paths__content-box {
      gap: 1rem;
    }
  
    .hpv-infection-paths__contents .content-box__image {
      width: 60%;
    }
  
    .content-box__description {
      font-size: 1.03734439834rem;
    }
  
    .hpv-infection-paths__circles {
      width: 95%;
    }
  
    .hpv-infection-paths__contents .content-box__circle {
      width: 6rem;
      height: 6rem;
    }
  
    .hpv-infection-paths__content-box::after {
      top: -10%;
      left: 0;
      height: 120%;
    }
  
    .hpv-infection-paths__contents .content-box__images {
      width: 7rem;
    }
  
    .hpv-infection-paths__content-box:nth-child(1) {
      top: 10%;
      left: 50%;
    }
  
    .hpv-infection-paths__content-box:nth-child(2) {
      top: 35%;
      left: 62%;
    }
  
    .hpv-infection-paths__content-box:nth-child(3) {
      top: 64%;
      left: 63%;
    }
  
    .hpv-infection-paths__content-box:nth-child(4) {
      top: 90%;
      left: 59%;
    }
    
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .hpv-infection-paths__title {
      font-size: 1.03734439834rem;
    }
  
    .hpv-infection-paths__content-box {
      gap: 2.5rem;
    }
  
    .content-box__description {
      font-size: 1.14107883817rem;
    }
  
    .hpv-infection-paths__contents .content-box__images {
      width: 7rem;
    }
  
    .hpv-infection-paths__contents .content-box__circle {
      width: 8rem;
      height: 8rem;
    }
  
    .hpv-infection-paths__content-box::after {
      left: 0;
      top: -10%;
      height: 120%;
    }
  
    .hpv-infection-paths__content-box:nth-child(1) {
      top: 15%;
      left: 55%;
    }
    .hpv-infection-paths__content-box:nth-child(2) {
      top: 40%;
      left: 64%;
    }
    .hpv-infection-paths__content-box:nth-child(3) {
      top: 66%;
      left: 64%;
    }
    .hpv-infection-paths__content-box:nth-child(4) {
      top: 93%;
      left: 60%;
    }
  }

  @media only screen and (min-width: 1400px) and (max-width: 1599px) {
    .hpv-infection-paths__mina{
      width: 90%;
    }
  }
  