.border {
  border: 1px solid black;
}

aside {
  width: 480px;
  height: 480px;
}

.hpv-infection-paths {
  overflow: hidden;
  padding: 16rem 3rem;
  background-color: #a1eee9;
  background-image: linear-gradient(135deg, #a1eee9 0%, #bae5e6 48%, #71a6e1 96%);
}

.hpv-infection-paths__wrapper {
  position: relative;
}

.hpv-infection-paths__model {
  width: 55%;
  height: 100%;
}

.hpv-infection-paths__mina {
  position: relative;
  z-index: 2;
  max-width: 582px;
  width: 100%;
  margin-bottom: 6.5%;
  aspect-ratio: 582 / 715.48;
}

.hpv-infection-paths__circles {
  width: 100%;
  max-width: 1044px;
  aspect-ratio: 1044 / 849;
  position: absolute;
  z-index: 0;
  top: -21.5%;
  left: -2%;
}

.hpv-infection-paths__title {
  position: absolute;
  bottom: -7%;
  font-size: 1.65975103734rem;
}

.hpv-infection-paths__title--main {
  font-weight: 400;
  font-size: 1.33333333333em;
  line-height: 1.8;
}

.hpv-infection-paths__title--highlight {
  font-size: 2.33333333333em;
  line-height: 1.2;
  color: var(--primary-500);
}

.hpv-infection-paths__contents {
  width: 100%;
  height: 100%;
}

.hpv-infection-paths__content-box {
  width: 48%;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.hpv-infection-paths__content-box::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 29rem;
  max-width: 300px;
  height: 80%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.31) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
}

.hpv-infection-paths__content-box:nth-child(1) {
  top: 5%;
  left: 53%;
}

.hpv-infection-paths__content-box:nth-child(2) {
  top: 32%;
  left: 60%;
}

.hpv-infection-paths__content-box:nth-child(3) {
  top: 62%;
  left: 61%;
}

.hpv-infection-paths__content-box:nth-child(4) {
  top: 87.5%;
  left: 57%;
}

.hpv-infection-paths__contents .content-box__images {
  justify-items: center;
  align-content: center;
  width: 40%;
  height: 100%;
  max-width: 17rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background: #e0f5f3;
  z-index: 1;
}

.hpv-infection-paths__contents .content-box__image {
  width: 70%;
}

.content-box__description {
  padding: 0;
  width: 100%;
  font-size: 1.86721991701rem;
  font-weight: 400;
  align-content: center;
}

@media (max-width: 991px) {
  .hpv-infection-paths {
    padding: 6rem 0;
  }

  .hpv-infection-paths__wrapper {
    display: flex;
    flex-direction: column;
  }

  .hpv-infection-paths__model {
    width: 70%;
  }

  .hpv-infection-paths__title {
    display: flex;
    position: unset;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .hpv-infection-paths__mina {
    aspect-ratio: 309.88 / 380.95;
    margin-top: 6%;
  }

  .hpv-infection-paths__circles {
    aspect-ratio: 402.67 / 333.04;
    top: 2%;
    left: -10%;
  }

  .hpv-infection-paths__content-box::after {
    height: 100%;
    top: 0;
    left: 5%;
    width: 20rem;
  }

  .hpv-infection-paths__content-box {
    gap: 0.5rem;
  }
}

@media (max-width: 575px) {
  .hpv-infection-paths__model {
    width: 60%;
  }

  .hpv-infection-paths__circles {
    top: 0;
    left: -10%;
    width: 90%;
  }

  .hpv-infection-paths__title {
    font-size: 0.79185520362rem;
  }
  
  .hpv-infection-paths__content-box{
    width: 45%;
  }

  .hpv-infection-paths__content-box:nth-child(1) {
    top: 8%;
    left: 40%;
  }

  .hpv-infection-paths__content-box:nth-child(2) {
    top: 25%;
    left: 52%;
  }

  .hpv-infection-paths__content-box:nth-child(3) {
    top: 47%;
    left: 52%;
  }

  .hpv-infection-paths__content-box:nth-child(4) {
    top: 63%;
    left: 45%;
  }

  .content-box__description {
    font-size: 1.2443438914rem;
  }

  .content-box__description--break-line{
    display:none;
  }
}

@media (max-width: 320px) {
  .hpv-infection-paths__content-box{
    width: 50%;
  }
  .hpv-infection-paths__content-box:nth-child(1) {
    top: 8%;
    left: 39%;
  }

  .hpv-infection-paths__content-box:nth-child(2) {
    top: 23%;
    left: 48%;
  }

  .hpv-infection-paths__content-box:nth-child(3) {
    top: 44%;
    left: 48%;
  }

  .hpv-infection-paths__content-box:nth-child(4) {
    top: 60%;
    left: 42%;
  }

  .content-box__description {
    font-size: 0.90497737556rem;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  .hpv-infection-paths__title {
    font-size: 1.13122171946rem;
  }

  .hpv-infection-paths__content-box:nth-child(1) {
    top: 15%;
    left: 45%;
  }

  .hpv-infection-paths__content-box:nth-child(2) {
    top: 30%;
    left: 58%;
  }

  .hpv-infection-paths__content-box:nth-child(3) {
    top: 50%;
    left: 58%;
  }

  .hpv-infection-paths__content-box:nth-child(4) {
    top: 68%;
    left: 50%;
  }

  .content-box__description {
    font-size: 1.03734439834rem;
  }


}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  
  .hpv-infection-paths__content-box:nth-child(1) {
    top: 15%;
    left: 45%;
  }

  .hpv-infection-paths__content-box:nth-child(2) {
    top: 30%;
    left: 58%;
  }

  .hpv-infection-paths__content-box:nth-child(3) {
    top: 50%;
    left: 58%;
  }

  .hpv-infection-paths__content-box:nth-child(4) {
    top: 65%;
    left: 50%;
  }

  .content-box__description {
    font-size: 1.80995475113rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1599px) {
  .hpv-infection-paths__content-box:nth-child(1) {
    top: 10%;
    left: 58%;
  }
  .hpv-infection-paths__content-box:nth-child(2) {
    top: 36%;
    left: 64%;
  }
  .hpv-infection-paths__content-box:nth-child(3) {
    top: 64%;
    left: 64%;
  }
  .hpv-infection-paths__content-box:nth-child(4) {
    top: 87.5%;
    left: 60%;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  .hpv-infection-paths__title {
    font-size: 0.82987551867rem;
  }

  .hpv-infection-paths__content-box {
    gap: 1rem;
  }

  .hpv-infection-paths__contents .content-box__image {
    width: 60%;
  }

  .content-box__description {
    font-size: 1.03734439834rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hpv-infection-paths__title {
    font-size: 1.03734439834rem;
  }

  .hpv-infection-paths__content-box {
    gap: 1rem;
  }

  .content-box__description {
    font-size: 1.24481327801rem;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .hpv-infection-paths__title {
    font-size: 1.34854771784rem;
  }

  .hpv-infection-paths__contents .content-box__image {
    width: 60%;
  }

  .content-box__description {
    font-size: 1.65975103734rem;
  }
}
